---
import { getCollection } from 'astro:content';
import BlogPost from '../../components/BlogPost.astro';
import Layout from '../../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';


export async function getStaticPaths(): Promise<import('astro').GetStaticPathsResult> {
  const allPosts = await getCollection('posts');

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
  const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
  return {
    params: { tag } ,
    props: { posts: filteredPosts },
  };
});
}

interface PageProps {
  params: { tag: string };
  props: { posts: CollectionEntry<'posts'>[] };
}

const { tag } = Astro.params as PageProps["params"];
const { posts } = Astro.props as PageProps["props"];
---
<Layout title={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title}/>)}
  </ul>
</Layout>